.navbar {
  background: #fff;
  padding: 15px 40px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.05);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
  font-family: "Segoe UI", sans-serif;
}

.nav-left {
  display: flex;
  align-items: center;
}

.logo {
  font-size: 30px;
  font-weight: 600;
  color: #333;
  text-decoration: none;
  margin-right: 40px;
}

.nav-links {
  display: flex;
  gap: 24px;
}

.nav-link {
  font-size: 17px;
  color: #111;
  font-weight: 500;
  text-decoration: none;
  position: relative;
}

.nav-link:hover {
  color: #faab83;
}

/* Search box */
.search-box {
  flex: 1;
  display: flex;
  justify-content: center;
  margin: 0 40px;
}

.search-box input {
  width: 420px;
  padding: 10px 45px 10px 20px;
  border: 1px solid #ccc;
  border-radius: 25px;
  font-size: 14px;
  outline: none;
  background: #fafafa url("https://cdn-icons-png.flaticon.com/512/622/622669.png") no-repeat 380px center;
  background-size: 16px;
}

.nav-right {
  display: flex;
  align-items: center;
  gap: 18px;
}

.logout-btn {
  background-color: #f7d0bc;
  border: none;
  color: black;
  padding: 8px 16px;
  border-radius: 25px;
  font-size: 14px;
  cursor: pointer;
  transition: background 0.3s ease;
}

.logout-btn:hover {
  background-color: #f7d0bc;
}

.nav-button {
  background: #f7d0bc;
  border: 1px solid #f7d0bc;
  color: black;
  padding: 8px 16px;
  border-radius: 25px;
  text-decoration: none;
  font-size: 14px;
  font-weight: 500;
  transition: all 0.3s ease;
}

.nav-button:hover {
  background-color:#f7d0bc;
  color: black;
}

.signup {
  background-color:#f7d0bc;
  color: black;
  border: none;
}

.signup:hover {
  background-color: #f7d0bc;
}

/* Cart Icon */
.nav-cart {
  position: relative;
  font-size: 20px;
  color: #f1c0a7;
}

.cart-count {
  position: absolute;
  top: -8px;
  right: -12px;
  background-color:#f7d0bc;
  color:#f8ba9c;
  border-radius: 50%;
  font-size: 10px;
  padding: 2px 6px;
  font-weight: bold;
}
